<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<style>
.image-content {
}
.image-content .col-text {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 70%;
}
.navbar {
  position: relative;
}
{

}
h1 {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
p {
  text-shadow: -.5px 0 white, 0 .5px white, .5px 0 white, 0 -.5px white;
}
body {
  background-color: #337ab7;
}

</style>

<div class="main">
  <div class="row image-content">
    <div class="col-xs-12 col-xs-height">
      <img src ="/assets/notebook.jpeg" class="img-responsive align-center" alt="Tutoring">
    </div>
    <div class="col-text">
      <div class="form .col-md-3 .col-md-offset-1">
        <form action="http://google.com" id="login_form" method="post">
          <input name="username" type="text" id="username" value="Username or Email">
          <input name="password" type="password" id="password" value="password">
          <button type="submit">Log In</button>
        </form>
      </div>
      <div class=".col-md-3 .col-md-offset-3">
        <h1>Welcome to TutorRow</h1>
        <p>Where a kid can be a kid again</p>
      </div>
    </div>
  </div>
</div>