<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="language" content="english">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="Tic Tac Toe" content="">
        <meta name="robots" content="noindex">
        <title>TicTacToe</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="app-container"></div>
        <script>
        </script>
        <h1><span>Tutorrow</span> find a tutor asap to help you with that difficult course.</h1>
        <script src="bundle.js"></script>
    </body>
</html>